# Ignore node_modules directory in both server and client
**/node_modules/

# Ignore build artifacts and logs
**/build/
**/dist/
**/logs/
**/*.log

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore client-specific build artifacts
/client/build/

# Ignore server-specific build artifacts
/server/dist/

